<div class="main-content-gray container d-flex flex-column " id="section-contact-us">
    <div class="row">
        <div class="col-md-12">
            <h1>
                <i class="fa-solid fa-address-book"> Contact Us</i>
            </h1>
        </div>
    </div>
 
    <div class="row d-flex ajuste-content">
        <p >Contate-me para mais informações, orçamentos e duvidas.</p>
        <div class="col-md-auto mt-4 " style="min-width: 70%;">
            <form action="">
                <div class="form-group mb-3 ">
                    <input type="text" class="form-control" id="name" placeholder="Name">
                </div>
                <div class="form-group mb-3 ">
                    <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-group mb-3">
                    <textarea class="form-control" id="message" rows="10"></textarea>
                </div>
                <div class="text-center">
                <button type="submit" class="btn btn-outline-success">Submit</button>
    
                </div>
            </form>
        </div>
        <div class="ajuste-redes-sociais col-md-3 d-flex flex-fill justify-content-around text-center ">
            <!--facebook-->
            <div class="mb-2">
                <!--Linkedin-->
                <a href="https://www.linkedin.com/in/carla-sousa-90091317b/" target="_blank">
                    <i class="fa-brands fa-linkedin-in fa-3x" ></i>
                </a>
            </div>
            <div class="mb-2" >   
                <!--WathsApp-->
                <a href="https://api.whatsapp.com/send?phone=5587988626266" target="_blank"> 
                    <i class="fa-brands fa-whatsapp fa-3x" style="color: #25d366"></i>
                </a>
            </div>
            <div class="mb-2 ajust-mb">
                <!--Email-->
                <address>
                    <a href="mailto:carlanogueirasouza@gmail.com" target="_blank">
                        <i class="fa-solid fa-envelope fa-3x" style="color: #fc804a;"></i>
                    </a>
                </address>
            </div>
            <div class="mb-2">
                <!--Github-->
                <a href="https://github.com/carlansouza" target="_blank">
                    <i class="fa-brands fa-github-alt fa-3x" style="color: black;"></i>
                </a>
            </div>
        </div>
    

    </div>
  
</div>