<div class="container
            main-content-gray  
            d-flex 
            flex-column
            justify-content-center">

    <div class="row ">
        <div class="col-sm-12 col-md-6 ">
            <h1>Hello,</h1>
            <h5><strong>I'm Carla Sousa</strong></h5>
            <p>Developer Fullstack</p>
        </div>
        
        <div class="col-sm-12 col-md-6 text-center">
            <img class=" " id="img-home" src="assets/img/eu.jpeg" alt="Carla Sousa" >
        </div>
    </div>
</div>

