<section class="main-content-white container ">
    <div class="row">
        <div class="col-md-12">
            <h1> <i class="fa fa-duotone fa-mug-hot"> Projects</i></h1>
            <p>
                Alguns dos meus projetos desenvolvidos até o momento.
            </p>

            <div class="row ">
              <div class="col-md-12 d-flex flex-wrap p-2 text-center ">
                <div class="card mb-3 col-md-5 m-auto" style="min-height: 40vh;">
                  <div class="row g-0">
                    <div class="col-md-12">
                      <img src="/assets/img/code.jpg" class="img-fluid rounded-start" alt="..." style="height: 100%;">
                    </div>
                    <div class="col-md-12">
                      <div class="card-body">
                        <h5 class="card-title text-center">JobsDev</h5>
                        <p class="card-text ">
                          Projeto Web desenvolvido com o framework Django, Python e o Bootstrap.
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <div class="text-center">
                          <a type="button" class="btn btn-primary align-self-center">Visualizar</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mb-3 col-md-5 m-auto" style="min-height: 40vh;">
                  <div class="row g-0">
                    <div class="col-md-12">
                      <img src="/assets/img/code.jpg" class="img-fluid rounded-start" alt="..." style="height: 100%;">
                    </div>
                    <div class="col-md-12">
                      <div class="card-body">
                        <h5 class="card-title text-center">JobsDev</h5>
                        <p class="card-text ">
                          Projeto Web desenvolvido com o framework Django, Python e o Bootstrap.
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <div class="text-center">
                          <a type="button" class="btn btn-primary align-self-center">Visualizar</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mb-3 col-md-5 m-auto" style="min-height: 40vh;">
                  <div class="row g-0">
                    <div class="col-md-12">
                      <img src="/assets/img/code.jpg" class="img-fluid rounded-start" alt="..." style="height: 100%;">
                    </div>
                    <div class="col-md-12">
                      <div class="card-body">
                        <h5 class="card-title text-center">JobsDev</h5>
                        <p class="card-text ">
                          Projeto Web desenvolvido com o framework Django, Python e o Bootstrap.
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <div class="text-center">
                          <a type="button" class="btn btn-primary align-self-center">Visualizar</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mb-3 col-md-5 m-auto" style="min-height: 40vh;">
                  <div class="row g-0">
                    <div class="col-md-12">
                      <img src="/assets/img/code.jpg" class="img-fluid rounded-start" alt="..." style="height: 100%;">
                    </div>
                    <div class="col-md-12">
                      <div class="card-body">
                        <h5 class="card-title text-center">JobsDev</h5>
                        <p class="card-text ">
                          Projeto Web desenvolvido com o framework Django, Python e o Bootstrap.
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <div class="text-center">
                          <a type="button" class="btn btn-primary align-self-center">Visualizar</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
          </div>
        </div>
    </div>
</section>

