<section class="main-content-white container "id="section-projects">
    <div class="row">
        <div class="col-md-12">
            <h1> <i class="fa  fa-duotone fa-mug-hot"> Projects</i></h1>
        </div>
    </div>
    <div class="row d-flex justify-content-around mt-5">
      <div class="card mb-3" style="width: 38%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/imgs-projects/jobsdevs-home.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title text-center"><strong>JobsDevs</strong></h5>
              <p class="card-text mt-5">Projeto desenvolvido utilizando as Techs: Django/Python</p>
              <p class="card-text text-center"><small class="text-muted">Last updated 3 mins ago</small></p>
              <div class="text-center">
                <a href="https://github.com/carlansouza/desafio-python-django" target="_blank">
                  <button type="button" class="btn btn-outline-success ">
                    <i class="fa fa-eye"></i>
                    <span> Ver</span>
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="width: 38%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/imgs-projects/pokedex-api.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title text-center"><strong>PokeDex</strong></h5>
              <p class="card-text mt-5 ">Projeto de estaudo para consumo de API. </p>
              <p class="card-text text-center"><small class="text-muted">Last updated 3 mins ago</small></p>
              <div class="text-center">
                <a href="https://github.com/carlansouza/pokedex-consumindo-api"  target="_blank">
                  <button type="button" class="btn btn-outline-success ">
                    <i class="fa fa-eye"></i>
                    <span> Ver</span>
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </section>


